{% extends 'base.html' %}

{% block title %}Профиль пользователя {{ user_obj.get_full_name|default:user_obj.username }}{% endblock %}
{% block page_header %}Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}{% endblock %}


{% block menu %}
{% endblock %}

{% block content %}
    <p>Имя пользователя: {{ user_obj.username }}</p>

<!-- {% for photo in user_obj.albom.all %}
<div class="task-view">
            <h1>Album: {{ albom.name }}</h1>
            <h2>Description: {{ albom.description }}</h2>
            <p>Author: {{ albom.author }}</p>
        <p>Date: {{ album.created_at }}</p>
            {% if perms.webapp.change_album %}
             <a class="btn btn-outline-info" href="{% url 'images:album-update' album.pk %}">Update</a>
            {% endif %}
            <a class="btn btn-outline-info" href="#">Add to Favs</a>
            {% if perms.webapp.delete_album %}
            <button type="button" class="btn btn-outline-info waves-effect px-3" data-toggle="modal" data-target="#deletion">Delete
            </button>
            {% endif %}
            </div>
{% empty %}
                    <p>No albums yet.</p>
{% endfor %}
<h2 class="text-center clear" style="font-weight: 700; text-transform: uppercase;">Images of {{ user_obj.username }}:</h2>
    {% for image in user_obj.image.all %}
            <div class="task">
            <img src="/{{ image.image.url }}" width="250" height="250" alt="">
                    <h2>{{ image.description }}</h2>
                    <p>Author: {{ image.author }}</p>
                    <p>Date: {{ image.created_at }}</p>
                    <p>
                        Album: <a href="#"> {{ image.album }}</a>
                    </p>
                <a href="{% url 'images:image-detail' image.pk %}">See more..</a>
                    <hr>
            </div>
        {% empty %}
    <p>No images yet.</p>
    {% endfor %} -->
    {% endblock %}