{% if is_paginated %}
{% include 'partial/paginate.html' %}
{% endif %}

{% for photo in photos %}
    <div class="box">
        <img src="/../..{{ photo.photo.url }}" alt="">
        <p>{{ photo.caption }}</p>
        <p>User: {{ photo.author }}</p>
        <p>{{ photo.date|date:"d.m.Y" }}</p>
        {% if photo.albom %}
            <p><a href="{% url 'gallery:view-albom' photo.albom.pk %}">Album: {{ photo.albom.name }}</a></p>
        {% else %}
            <p></p>
        {% endif %}
        <p><a href="{% url 'gallery:view-photo' photo.pk %}">more</a></p>
    </div>

{% empty %}
    <h2 class="text-center">Нет фото</h2>
{% endfor %}

{% if is_paginated %}
     {% include 'partial/paginate.html' %}
{% endif %}
