{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Photo{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>

    <nav class="navbar">
        <ul class="menu">
            <li><a href="{% url 'gallery:index' %}">Главная</a></li>
                {% if user.is_authenticated %}
                    <li class="menu_right"><a href="{% url 'accounts:logout' %}?next={{ request.get_full_path }}">Выйти</a></li>
                    <li class="menu_right"><a href="{% url 'accounts:user-detail' user.id %}">Профиль</a></li>
                {% else %}
                    <li class="menu_right"><a href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">Войти</a></li>
                {% endif %}
            {% block menu %}{% endblock %}
        </ul>
    </nav>

    <div class="container">
        <h1>{% block page_header %}{% endblock page_header %}</h1>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
